<div>
    <h1>Bienvenido</h1>
    <a href="/login" class="btn btn-success" role="button" aria-pressed="true">Iniciar sesion</a>
    <a href="/register" class="btn btn-success" role="button" aria-pressed="true">Registrarse</a>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/js/index.js"></script>